[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
book = {file = "dist/book-0.0.18-cp312-cp312-macosx_13_0_arm64.whl"}

[dev-packages]
behave = "*"
setuptools = "*"
pytest = "*"
pylint = "*"

[requires]
python_version = "3.12"
